@tailwind base;
@tailwind components;
@tailwind utilities;

.back{
    background-image: url('../public/background.jpeg');
    background-size: cover;
    background-position: center;

  }

  .lugrasimo-regular {
    font-family: "Lugrasimo", cursive;
    font-weight: 800;
    font-style: normal;
  }
  
  .lds-dual-ring {
    /* change color here */
    color: #1c4c5b
  }
  .lds-dual-ring,
  .lds-dual-ring:after {
    box-sizing: border-box;
  }
  .lds-dual-ring {
    display: inline-block;
  
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6.4px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }